@charset "UTF-8";
/* CSS Document */
* {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 14px;
	font: inherit;
	vertical-align: baseline;
	font-family: 'Open Sans', sans-serif;
	
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}




p{color:black; }


/*****************
	GENERALES
******************/
h1{
	font-size: 5em;
	font-weight: 700;
}
h2{
	font-size: 4em;
	font-weight: 700;
}
h3{
	font-size: 3em;
	font-weight: 700;
	margin-bottom: 10px;
}
h4{
	font-size: 1.5em;
	font-weight:700;
}

h5 {
    font-size: 1.8em;
    text-align: left;
    color: black;
    font-weight: 700;
    margin-top: 42px;
    margin-bottom: 25px;
}

.none{
	display: none !important;
}

.clear{clear:both; }
.lineHeight{line-height:100px!important; }
.lineHeight60{line-height:60px!important;}
.sinMarginTop{margin-top:0!important;}
.width1000{width:1000px!important;}
.white{color:white!important; }


.margin-bottom150{margin-bottom:150px!important; }
.margin-top25{margin-top:25px; }
.padding-top0{padding-top:0!important; }
.margin-top10{margin-top:10px; }
.paddingBottom0{padding-bottom:0!important; }

.width750{width:750px; }




.flex-row{
	display: -webkit-box;
  	display: -ms-flexbox;
  	display: flex;
  	-ms-flex-pack: distribute;
  	    justify-content: space-around;


}

.flex-between{
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}

.flex_colum{
	display:-webkit-flex;
    display:-webkit-box;
    display:-moz-flex;
    display:-moz-box;
    display:-ms-flexbox;
    display:flex;
    flex-direction:row;
 

}

.flex-row .flex50 ,.flex_colum .flex50{
	flex: 1 1 100%;
	max-width: 50%;
	max-height: 100%;
	-webkit-box-flex: 1 ;      /* OLD - iOS 6-, Safari 3.1-6 */
    -moz-box-flex: 1 ;         /* OLD - Firefox 19- */
    width: 20%;               /* For old syntax, otherwise collapses. */
        /* Chrome */
    -ms-flex: 1              /* IE 10 */
          
}

.flex-row .flex30{
	flex: 1 1 100%;
	max-width: 30%;
	max-height: 100%;
	-webkit-box-flex: 1 ;     /* OLD - iOS 6-, Safari 3.1-6 */
    -moz-box-flex: 1 1 100% ;       /* OLD - Firefox 19- */
    width: 20%;               /* For old syntax, otherwise collapses. */
       /* Chrome */
    -ms-flex: 1 1 100% ;            /* IE 10 */
        
}

.flex-row .flex20{
	flex: 1 1 100%;
	max-width: 20%;
	max-height: 100%;
	-webkit-box-flex: 1 ;    /* OLD - iOS 6-, Safari 3.1-6 */
    -moz-box-flex: 1 1 100% ;        /* OLD - Firefox 19- */
    width: 20%;               /* For old syntax, otherwise collapses. */
        /* Chrome */
    -ms-flex: 1 1 100% ;           /* IE 10 */
          
}

.flex-row.align_center,.flex_colum.align_center{ 
    align-items: center;
    align-content: center;

 }
.redColor{
	color:#ff0000;
}
p.bajada{
	font-size:1.5em;
	font-weight:500;
	color:#000;
}

.parrafo{
	margin-top: 5%;
}


.contenido { width: 100%;position: absolute;text-align: center;left: 0;padding-left: 12%;padding-right: 12%;top: 42%;color:white;}

.space_left{
	padding-left: 1em;
}



.space_right{
	padding-right: 1em;
}
.font_normal{
	 line-height: normal;
    font-weight: 400;
}

.position_relative{
	position: relative;
}

.angulo_top{
	border-top: 20px #ff0000 solid;
	border-left: 20px #ff0000 solid;
	
	position: absolute;
	left: 3%;
	top: 0;
	width: 30%;
	height:10em;
}
.angulo_bottom{

	border-bottom: 20px #ff0000 solid;
	border-right:20px #ff0000 solid;
	position: absolute;
	right: 5%;
	bottom: 0;
	width: 30%;
	height:10em;
}


/***********
	HEADER
*************/


header .nav_menu{
	background-color: black;
	height: 100vh;
	left: 0;	
	position:fixed;
	top: -100vh;
	transition: 2s ease;
	width: 100%;
	z-index: 100;
}
.header .nav_header{
	padding:1em 0;
	width:100%;
	position:fixed;
	z-index:90;
	transition: 0.5s ease;
	
   }
.nav_header.scroll{
	-webkit-box-shadow: 0px 3px 10px -1px rgba(122,113,122,0.56);
	-moz-box-shadow: 0px 3px 10px -1px rgba(122,113,122,0.56);
	box-shadow: 0px 3px 10px -1px rgba(122,113,122,0.56);
	background-color: #fff;
}  
.nav_header .brand{
	width:9%;
}
.nav_header .brand img{
	width: 100%;
}

.nav_menu .menu_desplegable{
    padding:5em 2em;
    background: rgba(0, 0, 0, 0.8);
}

.nav_menu .menu_desplegable li a{ 
    font-size: 3em;
    font-weight: 600;
    margin: 0.5% 0;
    color: #fff;
    text-decoration: none;
}

.nav_menu .menu_desplegable li a:hover, .nav_menu .menu_desplegable li span{ 
    font-size: 3em;
    font-weight: 600;
    margin: 0.5% 0;
    color: #ff0000;
    text-decoration: none;
}

.nav_menu .menu_desplegable li span {
    margin:0;
    line-height: 0.2;
}


.header .cabecera_home { 
	background-position: 0px 0px;
	background:url(../img/background_home.png)no-repeat center center fixed; 
	height:100vh;
	width:100%;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	-webkit-background-size: cover;
  	background-size: cover;
  	position:relative; 
 }


header .nav input#hamburguer:checked ~ .nav_menu{
	top: 0;
	padding-top: 80px;
}

header .nav input#hamburguer:checked ~ .nav_header{
	background-color: #fff;
	z-index: 101;
}



.title_header{
	max-width: 80%;
    margin: auto;
}
.title_header h1{
	color: #fff;
}

.title_header h1 .destacado{
	display: block;
	font-weight: 400;
}

.toggle {
	width: 30px;
	height: 54px;
	cursor: pointer;
	display: block;
	padding-top: 15px;
}

svg
.icon {width: 100%;height: 100%;vertical-align: middle;display: table-cell;cursor:pointer; }
.top,.mid,.bot {stroke-width:4;stroke: #333;}  



.prallax-scroll {font-size: 12px;font-family:'Open Sans', sans-serif; ;color: #fff;font-weight: 700;text-transform: uppercase;text-align: center;width: 70px;height: 80px;
 position: absolute;bottom: 70px;left: 50%;margin-left: -35px;letter-spacing: 3px;cursor:pointer; }
.prallax-scroll-svg {width: 100%;height: 100%;    margin-top: 10px;}
.prallax-scroll-svg .ps-1, .prallax-scroll-svg .ps-2 {stroke-width: 1px;stroke: #ff0000;fill: #ff0000;}
.prallax-scroll-svg .ps-2 {stroke-width: 2px;-moz-transform: scaleY(.55);-ms-transform: scaleY(.55);
 -webkit-transform: scaleY(.55);-o-transform: scaleY(.55);transform: scaleY(.55);transition: all .3s ease-out;}
.prallax-scroll-svg:hover .ps-2 {transform: scaleY(1)}

.ir-arriba {
	display: none;
	padding: 20px;
	background: #ff0000;
	font-size: 16px;
	color: white;
	cursor: pointer;
	position: fixed;
	bottom: 20px;
	right: 20px;
	z-index: 80;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
}


/****************
	Contenido

*****************/
.section {
	padding-left: 2em;
	padding-right: 2em;
	padding-top: 150px;
}


/*****************************
	Arquitectura asombrosa
******************************/
article .subtitle{
	font-size: .9em;
    font-weight: 400;
}

.section article{
	margin-bottom: 5%;
}

.more_info{
	color: #000;
	display: block;
	text-decoration: none;
	border: 3px solid red;
    padding: 5px;
    width:100px;
}
.more_info:hover{
	color: #ff0000;

}


/*******************
	SPACER
**********************/
.spacer{
	padding-top: 60px;
	padding-bottom: 60px;
	margin-top: 100px;
}
.spacer .title{
	padding: 1em 8em;
}
.spacer .img{
	background:url(../img/back2.png)no-repeat; 
	width:100%;
	background-position: 0px -500px;
	height: 402px;

}



/*****************************
	resolucionesIntegrales
******************************/


.listaResoluciones{
	position:relative;
	font-size: 1.2em;   
}

p.bajada{
	font-size:2em;
	font-weight:500;
	color:black; }


/*****************************
	       pilares
******************************/

.pilares{
	width:100%;
	height:150px;
	background:#fff;
	position:relative;
}



.pilaresContent #pilaresContentInner p.bajada{
	padding-left:2.5em;
}

.slides-pilares{
	width:100%;
	margin:0 auto;
	height:850px;
}


.img-layer{margin-top:5px; }

#accordion1 {
list-style: none;
margin: 30px 0;
padding: 0;
height: 850px;
overflow: hidden;
cursor:pointer; 

}
 
#accordion1 li {
float: left;
border-left:0;
display: block;
height: 170px;
width: 10%;
padding: 15px 0;
overflow: hidden;
color: #fff;
text-decoration: none;
font-size: 16px;
line-height: 1.5em;
height:900px;
padding:1%;
-webkit-filter: grayscale(100%);
filter: grayscale(100%);
transition: 1s ease;
-moz-transition: 1s ease;
-webkit-transition: 1s ease;
}
 
#accordion1 li img {
border: none;
border-right: 1px solid #fff;
float: left;
margin: -15px 15px 0 0;
}
 
#accordion1 li.active {
width: 37%;
-webkit-filter: grayscale(0%);
filter: grayscale(0%);

}
#accordion1 li.active .contenidoPilar{
	display: block!important;
}

.tituloPilar {
	width: auto;
	color: white;
	line-height: 40px;
	font-size: 1.5em;
	font-weight: 800;
	text-align: left;
	float: left;
	position: relative;
	display: block;
	padding: 0;}

.contenidoPilar {
	 float:right;
	  padding:1em; 
	  margin:40px 0px auto;
	  display:none; 
	  background:rgba(0, 0, 0, 0.6); }

.h4Pilares{
		color: white !important;
	    font-size: 1.2em;
	    line-height: 20px;
	    margin-bottom: 15px
	}

#arquitecturaCompleja{background:url(../img/pilares/arquitectura-compleja.jpg)no-repeat;background-size:cover;background-position: -500px -90px }
#DiseñoIn{background:url(../img/pilares/diseno.jpg)no-repeat;background-size:cover;background-position: -500px -90px }
#tecnico{background:url(../img/pilares/rigurosidad-tecnica.jpg)no-repeat;background-size:cover;background-position: -500px -90px }
#montaje{background:url(../img/pilares/montaje.jpg)no-repeat;background-size:cover;background-position: -500px -90px }
#ahorro{background:url(../img/pilares/ahorro-energetico.jpg)no-repeat;background-size:cover;background-position: -600px -90px }
#trayectoria{background:url(../img/pilares/trayectoria.jpg)no-repeat;background-size:cover;background-position: -500px -90px }



/*****************************
	    asesores
******************************/

#asistentes{height:800px; }

#contAsistent {
    width: 100%;
    float: left;
    position: relative;
    margin: 0 auto;
    padding-top:5em; 

}

article.asistent {
    width: 20%;
    position: relative;
    padding-bottom: 3em;
    margin-left: 2%;
    margin-right: 3%;
    float:left; 
}

.imgAsistent {
    width: 250px;
    position: relative;
    overflow: hidden;
}



article.asistent p {
    margin-bottom: 15px;
    line-height: normal;
}


article.asistent a {
    color: black;
    width: 100px;
    padding: 0px 0px 0px 5px;
    text-decoration: none;
    line-height: 1.2em;
    border-left: solid rgba(255,0,4,1.00) 3px;
}

article.asistent a:hover {
    color:#ff0000;
    width: 100px;
    padding: 0px 0px 0px 5px;
    text-decoration: none;
    line-height: 1.2em;
    border-left: solid rgba(255,0,4,1.00) 3px;
}


/*****************************
	    lightbox
******************************/


.ventana1,.ventana2,.ventana3,.ventana4{
	width:100%;
	height:100%;
	position:fixed;
	background-image:url(../img/bg-modal.png); 
	top:0;
	left:0;
	display:none;
    z-index:9999; 
}

.contentLightbox{

   width:1800px;
   height: 100vh;
   background:#fff;
   position: relative;
   margin: 0 auto; 
}

.cerrar a{

   float:right; 
   padding: 1em;
   text-decoration: none;
   color:#000;
}

.cerrar a:hover{

   float:right; 
   padding: 1em;
   text-decoration: underline;
   color:#ff0000;

}

.textBox{
	padding:3em; 

}

.angulo_toplight {
    border-top: 20px #ff0000 solid;
    border-left: 20px #ff0000 solid;
    position: relative;
    top: 40px;
    width: 60%;
    height: 10em;
}

.contentBox{

	width: 70%;
	margin-left:5%; 
}

.contentBox p{
	margin-top: 30px;
	line-height: 25px;
}


#residencialImg{
	background-image:url(../img/re1.jpg);
	width:auto;
	height: 1000px;
	position:relative;  
	 -moz-background-size: cover;
    -o-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover

	 }


#PropiedadImg{
	background-image:url(../img/pro1.jpg);
	width:auto;
	height: 1000px;
	position:relative;  
	 -moz-background-size: cover;
    -o-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover

	 }

	 #hotel{
	background-image:url(../img/hotel1.jpg);
	width:auto;
	height: 1000px;
	position:relative;  
	 -moz-background-size: cover;
    -o-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover

	 }

	 #envoltorios{
	 background-image:url(../img/envol1.jpg);
	width:auto;
	height: 1000px;
	position:relative;  
	 -moz-background-size: cover;
    -o-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover

	 }


#contacto {
    width: 100%;
    height: 700px;
    background: url(../img/backContact.png)no-repeat center center;
    background-position: 0px 0px;
    position: relative;
    background-size: cover;
}

#contacto #innerContact {
    max-width: 1800px;
    width: 100%;
    margin: 30px auto;
    position: relative;
    padding: 2% 0 0% 0;
}



.listaDatos {
	list-style: none;
	color: white;
	font-size: 1.2em;
	text-align: left;
	display: block;
	line-height: 1.5em;
	
}
.strongDatos {
	font-weight: 600;
	color: white;
}
#strongContactenos {
	margin: 55px 100% 15px auto;
	float: left;
	font-size: 0.35em!important;
	padding: 0px;
}
.listaDatos a {
	color: white;
	text-decoration: none;
}

.listaDatos a:hover{
	color: red;
}
.datosContacto {
	width: 25%;
	float: left;
	position: relative;
	margin: 133px 0;
}


.datosForm {
	width: 100%;
	float: left;
	position: relative;
	margin: 3px 31% 0px 0px;
	padding: 0px;
	color: white;
	font-size: 1em;
}


form {
	height: 750px;
	width: 35%;
	float: left;
	position: relative;
	margin: 0px auto auto 0px;
	padding-left: 4em;
}

input {
	width: 70%;
	height: 30px;
	float: left;
	position: relative;
	margin: 10px 0px 0px 0px;
	padding: 0px;
	background-color: transparent;
	border-bottom: solid rgba(255,255,255,1.00) 2px;
	border-left: solid rgba(255,255,255,1.00) 2px;
	border-right: none; 
	border-top: none;
}

input:focus {
	border-bottom: solid red 2px!important;
	border-left: solid red 2px!important;
}

input:hover {
	border-bottom: solid red 2px!important;
	border-left: solid red 2px!important;
}

input[type=text] {
	color: white;
	font-size: 1em;
	text-align: left;
}

#mensaje {
	height: 100px;
}

#enviar {
	width: 20%!important;
	background-color: transparent;
	border: solid 2px white !important;
	margin: 15px 30% 0px auto;
	float: right;
	position: relative;
	color: white;
}


#enviar:hover{
	border-color: red!important;
}

#enviar:focus{
	border-color: red!important;
}


footer {
    width: 100%;
    position: relative;
    background-color: black;
    height: 150px;
    text-align: center;
}

.footContent{padding:2em 0 0 0; }

footer p {
	width: 100%;
	text-align: center;
	color: white;
	margin: 0;
    padding: 0;
}

.redes {
	color: white;
	font-size: 1.2em;
	text-align: center;
}
.footer-social-icons {
    width: 350px;
    display:block;
    margin: 0 auto;
}
.social-icon {
    color: #fff;
}
ul.social-icons {
    margin: 10px auto;
	text-align: center;
}
.social-icons li {
    vertical-align: top;
    display: inline;
    height: 100px;
	color: white;
	text-align: center;
}
.social-icons a {
    color: #fff;
    text-decoration: none;
	text-align: center;
}
.fa-facebook {
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color:black;
}
.fa-facebook:hover {
    background-color: #3d5b99;
}
.fa-twitter {
    padding:10px 12px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color:black;
}
.fa-twitter:hover {
    background-color: #00aced;
}

.fa-youtube {
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color:black;
}
.fa-youtube:hover {
    background-color: #e64a41;
}
.fa-linkedin {
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color:black;
}
.fa-linkedin:hover {
    background-color: #0073a4;
}










